<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs')  %>

    <body>
        <section class="jumbotron">
            <p><%= location %></p>
            <h1><%= time %> </h1>
            <p><%= date %></p>
            <a href="/region" class="button">CHANGE REGION / TIMESTAMP</a>
        </section>

        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>